body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  #navbar {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
    line-height: 60px;
  }
  
  #logo {
    float: left;
    line-height: 60px;
  }

  img{
    vertical-align: middle;
    display: inline-block;

    line-height: normal;
  }

  #menu{
    list-style: none;

    float: right;

    margin: 0;
    padding: 0;
  }

  li{
    float: left;
   
  }

  a:hover{
    background-color: #eeeeee;
  }

  li a{
    padding-left: 10px;
    padding-right: 10px;

    /* 가운데 정렬을 line-height: 60px으로 해봄*/
    line-height: 60px;

    /* 네비게이션 높이만큼 hover하려고 (인라인은 가로세로 개념이 없어서)*/
    display: block;

    color: black;
    text-decoration: none;
  }


  
  .hero-header {
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    background-position: center center;
    line-height: 670px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .hero-header .info {
    vertical-align: middle;
    display: inline-block;

    line-height: normal;
  }
  
  .hero-header .info h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 13px;
    color: white;
    font-weight: 400;
  }
  
  .hero-header .info h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 60px;
    color: white;
    font-weight: 400;
  }
  
  .hero-header .info a {
    font-size: 14px;
    background-color: white;
    color: #464273;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  