body {
  margin: 50px 0;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.all{
  text-align: center;
}
.facebook, .instagram, .github{
  width: 70px;
}
.facebook, .instagram{
  margin-right: 20px;
}